$break-small: 600px;
$primary: #66C56F;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@mixin small {
  @media screen and (max-width: $break-small) { @content; }
}

@mixin fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@mixin fadeInAndOut {
  animation-name: fadeInAndOut;
  animation-duration: 1.2s;
}




* {
  box-sizing: border-box;
}

html, body, .container, .bg {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  overflow: hidden;
}

body {
  font-family: sans-serif;
  font-weight: 300;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;

  @include fadeIn;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
  color: #fff;

  @include small {
    flex-direction: column;
    text-align: center;
  }
}

.me {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 100px;
  width: 100px;
  margin-right: 20px;

  @include small {
    margin: 0 0 20px 0;
  }
}

h1 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  font-variant: small-caps;
  padding: 0;
  margin: 0;
}

h4 {
  font-weight: 300;
  margin: 10px 0 0 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  @include small {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

li {
  margin: 10px 10px 10px 0;

  @include small {
    margin: 20px 0 0 0;
  }
}

a {
  color: #fff;
  transition: all 0.2s ease-in;

  &:hover {
    color: $primary;
  }

  @include small {
    font-size: 20px;
  }
}

.slider-container {
  top: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
  opacity: 0.3;
  transition: opacity 0.2s ease-in;

  @include fadeInAndOut;

  &:hover {
    opacity: 1;
  }
}

.slider {
  height: 1px;
  background-color: #fff;
  width: 100%;

  .handle {
    position: relative;
    font-size: 24px;
    top: -12px;
    cursor: col-resize;
  }
}
